@import models.service.EvolutionService
@(title: String, route: String)(content: Html)(implicit evolutionService: EvolutionService)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>@title</title>

        <!-- Global stylesheets -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.versioned("stylesheets/icons/icomoon/styles.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.versioned("stylesheets/bootstrap.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.versioned("stylesheets/core.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.versioned("stylesheets/components.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.versioned("stylesheets/colors.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.versioned("stylesheets/main.css")" rel="stylesheet" type="text/css">
        <!-- /global stylesheets -->

    </head>
    <body class="navbar-bottom">
        <div id="content">
            <!-- Page header -->
            <div class="page-header page-header-inverse">

                <!-- Main navbar -->
                <div class="navbar navbar-inverse navbar-transparent">
                    <div class="navbar-header">
                        <a class="ajaxLink navbar-brand" href="@routes.AdminController.index()">Trending Series<!--<img src="assets/images/logo_light.png" alt="">--></a>

                        <ul class="nav navbar-nav pull-right visible-xs-block">
                            <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-grid3"></i></a></li>
                        </ul>
                    </div>

                    <div class="navbar-collapse collapse" id="navbar-mobile">
                        <p class="navbar-text"><span class="label bg-danger-400">Administration</span></p>

                        <div class="navbar-right">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="icon-bell2"></i>
                                        <span class="visible-xs-inline-block position-right">Notificaciones</span>
                                    </a>

                                    <div class="dropdown-menu dropdown-content">
                                        <div class="dropdown-content-heading">
                                            Notificaciones
                                            <ul class="icons-list">
                                                <li><a href="#"><i class="icon-menu7"></i></a></li>
                                            </ul>
                                        </div>

                                        <ul class="media-list dropdown-content-body width-350">

                                        </ul>
                                    </div>
                                </li>

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="icon-bubble8"></i>
                                        <span class="visible-xs-inline-block position-right">Reportes</span>
                                    </a>

                                    <div class="dropdown-menu dropdown-content width-350">
                                        <div class="dropdown-content-heading">
                                            Reportes
                                            <ul class="icons-list">
                                                <li><a href="#"><i class="icon-menu7"></i></a></li>
                                            </ul>
                                        </div>

                                        <ul class="media-list dropdown-content-body">

                                        </ul>
                                    </div>
                                </li>

                                <li class="dropdown dropdown-user">
                                    <a class="dropdown-toggle" data-toggle="dropdown">
                                        <img src="@routes.Assets.versioned("images/placeholder.jpg")" alt="">
                                        <span class="userName">Username</span>
                                        <i class="caret"></i>
                                    </a>

                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a class="logout" href="logout"><i class="icon-switch2"></i> Cerrar sesión</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /main navbar -->

                <!-- Page header content -->
                <div class="page-header-content">
                    <div class="page-title">
                        <h4>Dashboard <small class="helloUserName">Hola, Username</small></h4>
                    </div>

                    <div class="heading-elements">
                        <ul class="breadcrumb heading-text">
                            <li><a class="ajaxLink" href="@routes.AdminController.index()"><i class="icon-home2 position-left"></i> Home</a></li>
                            <li class="active">
                                @{if (route == "dashboard") {
                                    <span>Dashboard</span>
                                } else if (route == "tvShow" || route == "tvShows") {
                                    <span>Series</span>
                                } else if (route == "tvShowRequests") {
                                    <span>Peticiones</span>
                                }}
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /page header content -->

                <!-- Second navbar -->
                <div class="navbar navbar-inverse navbar-transparent" id="navbar-second">
                    <ul class="nav navbar-nav visible-xs-block">
                        <li><a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-second-toggle"><i class="icon-paragraph-justify3"></i></a></li>
                    </ul>

                    <div class="navbar-collapse collapse" id="navbar-second-toggle">
                        <ul class="nav navbar-nav navbar-nav-material">
                            @if(route == "dashboard") {
                                <li class="active"><a class="ajaxLink" href="@routes.AdminController.index()">Dashboard</a></li>
                                <li><a class="ajaxLink" href="@routes.AdminController.tvShows()">Series</a></li>
                                <li><a class="ajaxLink" href="@routes.AdminController.tvShowRequests()">Peticiones</a></li>
                            } else {
                                @if(route == "tvShow" || route == "tvShows") {
                                    <li><a class="ajaxLink" href="@routes.AdminController.index()">Dashboard</a></li>
                                    <li class="active"><a class="ajaxLink" href="@routes.AdminController.tvShows()">Series</a></li>
                                    <li><a class="ajaxLink" href="@routes.AdminController.tvShowRequests()">Peticiones</a></li>
                                } else {
                                    @if(route == "tvShowRequests") {
                                        <li><a class="ajaxLink" href="@routes.AdminController.index()">Dashboard</a></li>
                                        <li><a class="ajaxLink" href="@routes.AdminController.tvShows()">Series</a></li>
                                        <li class="active"><a class="ajaxLink" href="@routes.AdminController.tvShowRequests()">Peticiones</a></li>
                                    }
                                }
                            }
                        </ul>
                    </div>
                </div>

                <!-- Avisos importantes -->
                @if(evolutionService.needEvolution()) {
                    <div class="bg-danger navbar">
                        <div class="panel-heading">
                            <h6 class="panel-title">Importante: evolución de la base de datos</h6>
                        </div>
                        <div class="aviso-body">
                            Debido a una evolución reciente de la base de datos, hay que actualizar ciertos datos para el correcto funcionamiento de la nuevas características.
                            <br />
                            <button type="button" style="margin-top: 8px;" class="btn btn-sm btn-success btn-labeled" data-host="@requestHeader.host" data-evolution="load" data-toggle="modal" data-target="#evolution_modal">
                                <b><i class="icon-server"></i></b>
                                Ver actualización
                            </button>
                        </div>
                    </div>
                }
                <!-- /Fin Avisos importantes -->
            </div>

            <!-- /page header -->

            <!-- Page container -->
            <div class="page-container">

                <!-- Page content -->
                <div class="page-content">

                    <!-- Main content -->
                    <div class="content-wrapper">

                        <!-- Dashboard content -->
                        @content

                        <!-- /dashboard content -->

                        <!-- evolutions modal -->
                        <div id="evolution_modal" class="modal fade" data-backdrop="static">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header bg-primary">
                                        <h5 id="upgrade-title">Actualización</h5>
                                    </div>
                                    <div id="upgrade-body" class="modal-body"></div>
                                    <div id="upgrade-footer" class="modal-footer"></div>
                                </div>
                            </div>
                        </div>
                        <!-- /evolutions modal -->
                    </div>
                    <!-- /main content -->

                </div>
                <!-- /page content -->

            </div>
            <!-- /page container -->

            <!-- Footer -->
            <div class="navbar navbar-default navbar-fixed-bottom footer">
                <ul class="nav navbar-nav visible-xs-block">
                    <li><a class="text-center collapsed" data-toggle="collapse" data-target="#footer"><i class="icon-circle-up2"></i></a></li>
                </ul>

                <div class="navbar-collapse collapse" id="footer">
                    <div class="navbar-text">
                                &copy; 2017. <a href="#" class="navbar-link">Trending Series Administration</a> coded by <a href="https://darkhollow.github.io" class="navbar-link" target="_blank">Roberto Cánovas</a>
                    </div>

                    <div class="navbar-right">
                        <ul class="nav navbar-nav">
                            <li><a href="#">About</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /footer -->
        </div>
    </body>
</html>
