@import java.util
@(title: String, route: String, tvShowRequests: util.List[TvShowRequest])

@adminMain(title, route) {
    <div class="panel" id="requests_table_panel">
        <div class="panel-heading">
            <h6 class="panel-title">Peticiones de series nuevas: <span class="badge badge-primary">@tvShowRequests.size()</span></h6>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="reload" data-popup="tooltip" title="Recargar"></a></li>
                </ul>
            </div>
        </div>
        <div class="panel-body" style="padding-top: 0;">
            <!-- TABLA -->
            <table id="requests_table" class="table datatable-basic table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID de TVDB</th>
                        <th>Título</th>
                        <th>Banner</th>
                        <th>Fecha de estreno</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>

            </table>

            <!-- /style combinations -->
            <!-- FIN TABLA -->
        </div>
    </div>

    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/plugins/notifications/sweet_alert.min.js")"></script>
    <script>
        // tooltips
        $('body').tooltip({
            selector: '.tooltipId'
        });

        // on page ready
        $(document).ready(function () {
            requestsTableLoad();
        });

        // clear requests data
        function requestsTableClear() {
            $('#requests_table').DataTable().clear().draw();
        }

        // get requests data
        function requestsTableLoad() {
            $('#requests_table_panel').block({
                message: '<i class="icon-spinner9 spinner"></i>',
                overlayCSS: {
                    backgroundColor: '#fff',
                    opacity: 0.8,
                    cursor: 'wait'
                },
                css: {
                    border: 0,
                    padding: 0,
                    backgroundColor: 'none'
                }
            });
            var promises = [];
            @for(request <- tvShowRequests) {
            promise = $.ajax({
                url: 'http://localhost:9000/api/tvshows/tvdb/' + @request.tvdbId,
                type: 'GET',
                dataType: 'json',
                success: function (response) {
                    var row = '';
                    row +=
                            '<tr>' +
                            '<td><a class="tooltipId" data-popup="tooltip" title="Ver en TVDB" data-placement="left" target="_blank" href="http://thetvdb.com/?tab=series&id=' + response.tvdbId + '">' + response.tvdbId + '</a></td>' +
                            '<td>' + response.name + '</td>' +
                            '<td>';

                    if (response.banner !== "") {
                        row += '<img class="img-responsive center-block" style="max-height: 70px;" src="http://thetvdb.com/banners/' + response.banner + '" />';
                    } else {
                        row += '<img class="img-responsive center-block" style="max-height: 70px;" src="@routes.Assets.versioned("images/placeholderBanner.png")" />';
                    }

                    row +=
                            '</td>' +
                            '<td>' + response.firstAired + '</td>' +
                            '<td class="text-center">' +
                            '<ul class="icons-list">' +
                            '<li class="dropdown">' +
                            '<a href="#" class="dropdown-toggle" data-toggle="dropdown">' +
                            '<i class="icon-menu9"></i>' +
                            '</a>' +
                            '<ul class="dropdown-menu dropdown-menu-right">' +
                            '</ul>' +
                            '</li>' +
                            '</ul>' +
                            '</td>' +
                            '</tr>';
                    // añadir a la tabla
                    $('#requests_table').DataTable().row.add($(row)).draw();
                }
            });
            promises.push(promise);
            }

            $.when.apply(null, promises).done(function() {
                $('#requests_table_panel').unblock();
            });
        }
    </script>
}
