@font-face {
    font-family: 'Blacklisted';
    src: url('../stylesheets/extras/Blacklisted.ttf');
}

.blacklisted {
    font-family: 'Blacklisted', 'Roboto', serif;
}

.main-title {
    font-size: 40px;
}

.response-message {
    color: red;
}

.validation-error-label-trending,
.validation-valid-label-trending {
    margin-top: 7px;
    margin-bottom: 7px;
    display: block;
    color: #F44336;
    position: relative;
    padding-left: 26px;
}
.validation-valid-label-trending {
    color: #4CAF50;
}
.validation-error-label-trending:before,
.validation-valid-label-trending:before {
    font-family: 'icomoon';
    position: absolute;
    top: 2px;
    left: 0;
    display: inline-block;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
}
.validation-error-label-trending:empty,
.validation-valid-label-trending:empty {
    display: none;
}
.validation-error-label-trending:before {
    content: '\ed63';
}
.validation-valid-label-trending:before {
    content: '\ee73';
}

.padTop0 {
    padding-top: 0;
}

.check-list li {
    padding-bottom: 3px;
}

.check-list li:last-child {
    padding-bottom: 0;
}

.td-poster {
    padding: 0 !important;
    width: 104px !important;
    text-align: center;
}

.tvShowListPoster {
    height: 150px;
    width: 102px;
    margin: 0;
    padding: 0;
}

.hr-mini {
    display: block;
    height: 1px;
    border: 0;
    margin: 1em 0;
    padding: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.btn-action {
    width: 90%;
    margin-left: 9px;
}

/* tvShow */
.tvShow-img {
    padding: 4px;
    background-color: #eaeaea;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
    margin-right: 0 !important;
    max-height: 200px;
}

.tvShow-poster {
    margin-left: 24px;
}

@font-face {
    font-family: 'Blacklisted';
    src: url('../stylesheets/extras/Blacklisted.ttf');
}

.blacklisted {
    font-family: 'Blacklisted', 'Roboto', serif;
}

.main-title {
    font-size: 40px;
}

.response-message {
    color: red;
}

.validation-error-label-trending,
.validation-valid-label-trending {
    margin-top: 7px;
    margin-bottom: 7px;
    display: block;
    color: #F44336;
    position: relative;
    padding-left: 26px;
}
.validation-valid-label-trending {
    color: #4CAF50;
}
.validation-error-label-trending:before,
.validation-valid-label-trending:before {
    font-family: 'icomoon';
    position: absolute;
    top: 2px;
    left: 0;
    display: inline-block;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
}
.validation-error-label-trending:empty,
.validation-valid-label-trending:empty {
    display: none;
}
.validation-error-label-trending:before {
    content: '\ed63';
}
.validation-valid-label-trending:before {
    content: '\ee73';
}

.padTop0 {
    padding-top: 0;
}

.check-list li {
    padding-bottom: 3px;
}

.check-list li:last-child {
    padding-bottom: 0;
}

.td-poster {
    padding: 0 !important;
    width: 104px !important;
    text-align: center;
}

.tvShowListPoster {
    height: 150px;
    width: 102px;
    margin: 0;
    padding: 0;
}

.hr-mini {
    display: block;
    height: 1px;
    border: 0;
    margin: 1em 0;
    padding: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.btn-action {
    width: 90%;
    margin-left: 9px;
}

/* tvShow */
.tvShow-img {
    padding: 4px;
    background-color: #eaeaea;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
    margin-right: 0 !important;
    max-height: 200px;
}

.tvShow-poster {
    margin-left: 24px;
}

/* Prototipo móvil */

.smartphone {
    position: relative;
    height: 587px;
    width: 320px;
    background-color: #272727;
}

.smartphone-header {}

.fanart-box {}

.fanart {
    opacity: 0.2;
}

.poster-box {
    background-color: transparent;
}

.poster {
    height: 130px;
    margin-top: -100px;
    margin-left: 10px;
    outline: 1px solid rgba(255,255,255,0.3);
    outline-offset: -1px;
}

.title-box {
    margin-left: 105px;
    margin-top: -52px;
    color: #eae5ec;
}

.subtitle-box {
    margin-left: 105px;
    margin-top: 6px;
    color: #eae5ec;
    font-size: 0.9rem;
}

.genre-box {
    margin-left: 105px;
    margin-top: 1px;
    color: #eae5ec;
    font-size: 0.9rem;
}

.runtime-box {
    margin-top: -28px;
    margin-right: 10px;
    text-align: right;
    color: #eae5ec;
    font-size: 0.9rem;
}

.network-box {
    margin-top: 3px;
    margin-right: 10px;
    text-align: right;
    color: #eae5ec;
    font-size: 0.9rem;
}

.score-avg {
    margin-top: 12px;
    margin-left: 50px;
}

.score-user {
    margin-top: -20px;
    margin-left: 180px;
}

.overview-box {
    padding: 10px;
    color: #eae5ec;
}

.overview-box p {
    max-height: 80px;
    overflow: hidden;
}

.status-box {
    padding: 10px;
    padding-bottom: 2px;
    color: #eae5ec;
}

.status-box span {
    margin-right: 4px;
    color: #bdb9bf;
}

.smartphone-seasons {
    display: flex;
    flex-direction: row;
    height: 190px;
    width: 100%;
    background-color: #1c1c1c;
    padding: 4px;
    overflow: hidden;
}

.smartphone-season {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #2f2f2f;
    margin-left: 4px;
}

.smartphone-season:first-of-type {
    margin-left: 0;
}

.smartphone-season-poster {
    height: 140px;
    width: auto;
    padding: 0;
    margin: 0;
    border: 0;
    image-rendering: -webkit-optimize-contrast;
}

.smartphone-season-title {
    padding: 3px;
    color: #eae5ec;
}

/* información temporadas normal */

.seasons {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.season {
    display: flex;
    flex-direction: row;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
    border-bottom: 1px solid #e7e7e7;
}

.season:last-of-type {
    border: 0;
}

.season h1 {
    margin: 0;
    margin-bottom: 6px;
    padding: 0;
    font-size: 18px;
    font-weight: 600;
}

.season-poster {
    width: 140px;
    height: auto;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 4px;
    image-rendering: -webkit-optimize-contrast;
}

.season-info {
    padding-left: 30px;
    align-self: center;
}

@media (max-width: 768px) {
    .season {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #e7e7e7;
    }

    .season-poster {
        align-self: center;
        margin-bottom: 6px;
    }

    .season-info {
        padding-left: 0;
    }
}

.aviso-body {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 12px;
}

.modal-full-rob {
    position: absolute;
    width: 100%;
    text-align: center;
    padding-top: 200px;
}

/* device view */
@media (max-width: 768px) {
    .page-container {
        padding: 8px;
    }

    .page-header-inverse {
        margin-bottom: 0;
    }

    .page-title {
        padding: 0;
    }

    .panel {
        margin-bottom: 8px;
    }

    .panel-body {
        padding-top: 0;
        padding-bottom: 6px;
    }

    .menu-list {
        margin: 0;
    }

    .menu-list li > a {
        color: #000;
    }

    .alert {
        margin-bottom: 8px;
    }

    .panel-footer {
        height: 60px !important;
    }

    .heading-elements {
        height: 60px;
    }
}

.margin-left-6 {
    margin-left: 6px;
}