@main("Lista de experimentos") {

  <div>
    <h2>Experimentos</h2>

    <h3>Experimentos de Twitter</h3>
    <ul>
      <li><a href="experimento1">Experimento 1</a>: muestra los tweets recientes de la serie <i>Stranger Things</i> (límite de 100 impuesto por Twitter).</li>
      <li><a href="experimento2">Experimento 2</a>: muestra los tweets populares de la serie <i>Stranger Things</i> (límite de 15 impuesto por Twitter).</li>
      <li><a href="experimento3">Experimento 3</a>: filtrar los 100 recientes de menos de una hora de la serie <i>Stranger Things</i>.</li>
      <li><a href="experimento4">Experimento 4</a>: puntuar los tweets populares de la serie <i>Stranger Things</i>.</li>
      <li><a href="experimento5">Experimento 5</a>: obtener tweets recientes de la serie <i>Stranger Things</i> y sacar cuántos por hora.</li>
    </ul>
    <p>La puntuación del experimento 4 ha sido la siguiente forma:</p>
    <ul>
      <li>Cada tweet popular cuenta un punto</li>
      <li>Cada retweet cuenta 1/2 de punto</li>
      <li>Cada favorito cuenta 1/4 de punto</li>
    </ul>
    <p>El problema surge de la limitación de la API de Twitter, puesto que por
      cada petición de tweets recientes, solo nos devuelve los últimos 100.
      Con la librería de Twitter4j, podemos ir pidiendo las "páginas" siguientes
      pero cuenta como una petición más y aquí Twitter también ha puesto límites
      permitiendo sólo 15/40 peticiones cada 15 minutos, por lo que ya con una serie
      popular actual como es Stranger Things, se superaría el límite y no podríamos
      confeccionar la lista ni con una serie.</p>

    <p>Por eso he estado haciendo pruebas como mirar el número de tweets populares,
      pero también hay limitación de 15 tweets, también el de filtrar en la última hora
      cuántos tweets ha habido de la serie (que podría darse el caso también de superar
      los 100 que nos limita Twitter) o el de puntuar los popualres en el experimento 4.</p>

    <h3>Experimentos TVDB API</h3>
    <ul>
      <li><a href="experimentoTVDB1">Exprimento 1</a>: buscar series en TVDB API</li>
    </ul>
  </div>

}
